---
layout: default
---

<div class="header">
      <div class="container">
      <div class="col-md-3">
        <div class="thumbnail-overlay"></div>
        <img src="https://media.licdn.com/media/AAEAAQAAAAAAAA2yAAAAJGUxMGEzYmFiLWZlNjItNGU3Ni1hYjg4LTExOTVmMGZhZGI4OA.jpg" alt="" class="img-responsive img-circle ">
      </div> 
      
      <div class="col-md-9 bio">
        <p>
          Hi! Im Hamza Tanji Cherkaui : Software Developper . I love everything about web developpement , Devops , AI , And everything related to this new era of software development and design .
          
        </p>
        
        <ul class="social">
          <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-free-code-camp" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-behance-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-slideshare" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-viadeo" aria-hidden="true"></i>
</a></li>
        </ul>
      </div>
    </div>
  
</div>
<div class="menu ">
    <ul class="navigation  ">
      <li><a href="#">Articles</a></li>
      <li><a href={{ "/about/" | prepend: site.baseurl }}>About</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contact</a></li> 
      
    </ul> 
  </div>
<!-- <header class="blog-header">
   
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
      
    </div>
</header> -->


<main class="content" role="main">

    {% if site.tags.featured %}{% endif %}

    <div class="cf frame">
      {% for post in paginator.posts %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
<!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href={{ "/page" | prepend: site.baseurl | append: paginator.next_page }}>&larr; Older posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href={{ "/" | prepend: site.baseurl }}>Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href={{ "/page" | prepend: site.baseurl | append: paginator.previous_page }}>Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav>


    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>
